.schedule{
    margin-left: 14rem;
    margin-right: 10px;
    transition: all 0.3s ease;
    margin-top: 6rem;
    font-family: 'Raleway', sans-serif;
}

.sidebar-collapsed .schedule {
    margin-left: 2rem;
}

