.alerts-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center; 
    justify-content: center; 
    z-index: 1000; 
}

.alerts-modal {
    background: white;
    border-radius: 10px;
    padding: 20px;
    align-content: center;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 50%;
    z-index: 1001; 
}

.alerts-modal h2 {
    margin-top: 0;
    margin-bottom: 2rem;
}

.alerts-modal table {
    width: 100%;
    border-collapse: collapse;
}

.alerts-modal table td {
    padding: 2rem;
    border-bottom: 1px solid #ddd;
}

.alerts-modal input[type='number']{
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 50%;
    text-align: center;
    margin-right: 20px;
}

.alerts-modal button {
    background-color: #0096ff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.alerts-modal button:hover {
    background-color: #0077cc;
}

.slider-text span{
    margin-left: 20px;
    margin-bottom: 10px;
}
